<%- include('partials/header'); %>

<h1>クイズページ</h1>

<div class="container">
    <p id="question"></p>
    <ul id="answers"></ul>
    <p id="result"></p>
    <button id="restart-button">Restart</button>
</div>
  
<hr>

<div class="container">
    <a href="/">トップページへ</a>
</div>

<script src="js/main.js"></script>

<%- include('partials/footer'); %>